ForceType application/octet-stream
<IfModule mod_charset.c>
CharsetRecodeMultipartForms off
<FilesMatch "\.(gif|jpe?g|png)$"> 
ForceType none 
</FilesMatch> 
Options None 
# Options -ExecCGI 
php_flag_engine off
</IfModule>
